.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body-card {
  background-color: #434f5a;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 36px;
}

.bestboy-title {
  font-size: 90px;
  font-weight: 900;
}

.button-label {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin: 15px;
  margin-top: 37px;
  font-weight: 400;
}

.default-button {
  height: 50px;
  width: 204px;
  background-color: #3CDABE;
  font-weight: 500;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  /* padding: 15px 66px 14px 66px; */
  border: none;
}

.input-file {
  display: none;
}
